.price-section{
  background-image: url("./img/price-bg.png");
  background-repeat: no-repeat;
  padding-top: 230px;
  min-height: 700px;
  background-size: 100%;
  background-size: cover;
  .wrapper{
    margin: 0 auto;
    max-width: 1280px;
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .price-table{
    .table-header-item {
      background: #c0986c;
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    .layer{
      padding-right: 24.7%;
      @media(max-width: 560px){
        font-size: 0.9rem;
      }
    }
    .item-price {
      text-align: center;
      padding-left: 0;
      padding-top: 33px;
      @media(max-width: 560px){
        font-size: 1.2rem;
      }
      @media(max-width: 520px){
        padding-top: 40%;
      }
    }
    div{
      margin: 0 5px 5px 0;
      padding-top: 18px;
      font-size: 18px;
      color: #605247;
      background: #f2e9e0;
      padding-left: 13px;
    }
    display: grid;
    height: 420px;
    width: 95%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 85px 85px 85px 85px 85px;
    @media(max-width: 1070px){
      grid-template-rows: 115px 95px 95px 95px 95px;
    }
    @media(max-width: 945px) {
      .table-header-item {
        font-size: 20px;
      }
    }
      @media(max-width: 800px){
        grid-template-rows: 125px 95px 95px 95px 95px;
        .table-header-item{
          font-size: 1.2rem;
          text-align: center;
          @media(max-width: 560px){
            font-size: 1rem;
            font-weight: normal;
          }
        }
      }
    @media(max-width: 520px){
      grid-template-rows: 135px 135px 135px 135px 135px;
    }
  }
}
  }
}