$secondart-text-color: #493b30;
.order-section{
    height: 650px;
    background-image: url("./img/order-bg.png");
    background-repeat: no-repeat;
    position: relative;
.order {
    .order-control{
        background: rgba(255, 255, 255, .5);
        position: absolute;
        left: 50%;
        bottom: 130px;
        transform: translate(-50%);
        padding: 45px 55px 35px 55px;
        text-align: center;
        h3{
            width: 215px;
            color: $secondart-text-color;
            font-size: 18px;
            font-weight: normal; 
            margin: 0 auto;
        }
        a{
            display: inline-block;
            padding: 16px 60px;
            background: #769252;
            color: #ffffff;
            margin-top: 30px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
}

.my-orders {
    .content-wrapper {
        height: calc(100% - 124px);
        @media(max-width: 940px){
            h1 {
                font-size: 1.8rem;
            }
        }
    }
    .orders-list {
        max-width: 1090px;
        margin: 0 auto;
        @media(max-width: 1100px) {
            padding: 0 10px;
        }
        .order-item {
            background: #e6e6e6;
            width: calc(100% - 80px);
            padding: 25px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #493b30;
            font-size: 20px;
            @media(max-width: 940px){
                font-size: 1.2rem;
            }
            @media(max-width: 900px){
                height: auto;
                width: 80%;
                margin: 0 auto;
                padding-top: 40px;
                padding-bottom: 20px;
                font-size: 1rem;
            }
            @media(max-width: 710px){
                width: 90%;
            }
            @media(max-width:640px){
                padding-left: 20px;
                padding-right: 20px;
            }
            .box_picture {
                height: 80px;
                width: 120px;
                background-image: url("./img/box.png");
                background-size: cover;
                display: inline-block;
                @media(max-width: 640px){
                    height: 60px;
                    width: 90px;
                }
            }
            .order_number {
                font-weight: bold;
                @media(max-width: 900px){
                    padding-bottom: 30px;
                }
            }
            .order_inf_wrap {
                display: inline-flex;
                width: 40%;
                justify-content: space-around;
                @media(max-width: 900px){
                    flex-direction: column;
                    align-items: flex-start;
                    width: 25%;
                    text-align: left;
                }
                @media(max-width: 880px) {
                    width: 30%;
                }
                @media(max-width: 640px) {
                   align-items: center;
                    text-align: center;
                }
            }
            .status_wrap{
                display: inline-flex;
                width: 40%;
                justify-content: space-between;
                @media(max-width: 980px){
                    width: 45%;
                }
                @media(max-width: 900px){
                    flex-direction: column-reverse;
                    align-items: flex-end;
                    width: 35%;
                }
                @media(max-width: 640px) {
                    width: 30%;
                }
                @media(max-width: 525px) {
                    width: 35%;
                }
            }
            .order_status {
                display: inline-block;
                @media (max-width: 900px) {
                    padding-bottom: 30px;
                }
                p{
                    display: inline;
                    @media(max-width: 640px) {
                        display: none;
                    }
                }
                span {
                    background: #fff;
                    padding: 20px 15px 15px 15px;
                    margin-left: 25px;
                    @media(max-width: 640px) {
                        margin-left: 10px;
                    }
                    @media(max-width: 495px){
                        padding: 17px 10px 12px 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .edit-profile {
        width: 100%;
        padding: 50px 0;
        background: #779453;
        a{
            margin: 0 auto;
            padding: 20px 70px;
            color: #54483e;
            font-size: 20px;
            border: none;
            cursor: pointer;
            text-decoration: none;
            background: #fff;
        }
    }
}
.more-orders {
    padding-top: 50px;
    text-align: center;
    h4{
        font-size: 24px;
        color: #5e554d;
        margin: 0;
        padding-bottom: 12px;
        font-weight: 300;
    }
    button{
        background-image: url("./img/arrow.png");
        background-repeat: no-repeat;
        width: 75px;
        height: 40px;
        border: none;
        display: block;
        margin:  0 auto;
        cursor: pointer;
    }
}