.header-container {
  background-image: linear-gradient(to right, rgba(255,255,255, .8) 15%, rgba(255,255,255,.4) 45%, rgba(255,255,255, .4) 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  .header-wrap{
  display: flex;
  height: 140px;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1280px;
    @media (max-width: 1300px) {
      padding: 0 20px;
    }
  .header-logo {
    display: block;
    margin-top: 10px;
    width: 189px;
    height: 116px;
    background-image: url("./img/logo.png");
    background-repeat: no-repeat;
  }
  .header-navigation {
    height: 40px;
    float: left;
    margin-top: 70px;
    .hamburger{
      height: 30px;
      width: 40px;
      background-image: url("./img/nav.png");
      position: absolute;
      right: 10px;
      bottom: 20px;
      z-index: 0;
      display: none;
    }
    ul {
      @media(max-width: 1050px){
        padding-left: 0;
      }
      display: flex;
      :first-child {
        list-style: none;
      }
      li {
        font-size: 24px;
        font-weight: bold;
        margin: 0 25px;
        cursor: pointer;
        white-space: pre;
        @media(max-width: 1050px){
            margin-right: 15px;
        }
        a {
          text-decoration: none;
          color: #000;
          &:hover{
            color: #769252;
          }
        }
      }
    }
    @media (max-width: 1300px) {
      margin-top: 20px;
    }
    @media(max-width: 970px){
      .hamburger {
        display: block;
      }
      .list-group{
        display: none;
      }
      ul {
        position: absolute;
        right: -5px;
        bottom: -250px;
        flex-direction: column;
        z-index: 50;
        li{
          padding: 15px 15px;
          list-style: none;
          background: #dfead1;
          &:hover{
            background: #779453;
          }
          a{
            color: #493b30;
            &:hover{
              color: #493b30;
            }
          }
        }
      }
    }
  }
  .user-controls {
    margin-top: 30px;
    float: right;
    :first-child {
      margin-right: 20px;
    }
    a {
      padding: 10px 18px;
      background: rgba(255, 255, 255, .6);
      border: none;
      font-size: 18px;
      text-decoration: none;
      color: #000;
      &:hover{
        background: #fff;
      }
    }
  }
}
}
.header-controls {
  width: calc(100% - 190px);
  position: relative;
}
