.footer {
  background-image: url("./img/footer-bg.png");
  background-size: 100%;
  background-size: cover;
  .footer-wrap{
    padding: 27px 67px 15px 72px;
    display: flex;
    max-width: calc(1280px - 42px);
    margin: 0 auto;
    @media (max-width: 750px) {
      padding: 27px 15px 15px 15px;
      justify-content: space-between;
    }
    @media (max-width: 520px) {
      padding: 27px 0 15px 15px;
      span {
        font-size: 14px;
      }
    }
  .contacts {
    width: 25%;
    div {
      margin: 0 auto;
      width: 140px;
      .phone {
        display: block;
        margin-bottom: 16px;
      }
    }
  }
  .position {
    width: 25%;
    div {
      margin: 0 auto;
      width: 140px;
      span {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
   .email{
     display: inline-block;
     vertical-align: top;
     text-align: center;
     width: 50%;
     @media (max-width: 970px) {
       width: 30%;
     }

   }
    .wrap-soc {
      display: flex;
      width: 50%;
      justify-content: space-between;
      @media (max-width: 800px) {
        flex-direction: column;
        width: 40%;
        div{
          width: 100%;
        }
      }
    }
  .social {
    display: inline-block;
    width: 50%;
    text-align: center;
    @media (max-width: 970px) {
      width: 70%;
    }
    a {
      display: inline-block;
      background-repeat: no-repeat;
      width: 43px;
      height: 43px;
      margin-right: 17px;
    }
    .inst-logo {
      background-image: url("./img/Instagram_logo.png");
    }
    .twitt-logo {
      background-image: url("./img/logo-twitter.png");
    }
    .fb-logo {
      background-image: url("./img/feysbuk_logo.png");
    }
  }
}
}